@import "tailwindcss";

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}